---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { type CollectionPosts } from '@/types'
import { getPosts } from '@/utils/posts'

export async function getStaticPaths() {
  const posts = await getPosts()
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: {
        post,
      },
    }
  })
}

type Props = { post: CollectionPosts }

const { post } = Astro.props
const { title, image, description, date, duration, tag } = post.data

const { Content } = await post.render()

function getDate(date: string) {
  return new Date(date).toISOString()
}
---

<BaseLayout
  title={title}
  description={description}
  pageType="article"
  pageOperate={true}
>
  <article class="mb-16 max-w-none prose">
    <h1 class="text-title">
      {title}
    </h1>
    <p op-50>
      {date && <time datetime={getDate(date)}>{date.split(',')}</time>}
      {duration && <span>· {duration}</span>}
      {tag && <span>· {tag}</span>}
    </p>
    {
      image && (
        <p>
          <img
            width="100%"
            height="auto"
            src={image.src}
            loading="lazy"
            decoding="async"
            alt={image.alt || ''}
          />
        </p>
      )
    }
    <Content />
  </article>
</BaseLayout>
